<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="logo">Интернет-магазин</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field" v-model="searchLine">
                    <button class="btn-search" type="submit" @click="searchProduct(searchLine)">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" @click="show = !show"> {{this.cartCount}} <i class="fa fa-shopping-basket" aria-hidden="true"></i><span> Корзина</span>></button>
                <div class="cart-block" v-if="show" >
                    <div class="cart-item" v-for="product of cart" :key="product.id_product">
                        <div class="product-bio">
                            <img :src="imgCatalog" alt="Some image">
                            <div class="product-desc">
                                <p class="product-name">{{product.product_name}}</p>
                                <p class="product-quantity">Количество: {{ product.quantity }}</p>
                                <p class="product-single-price">{{ product.price }} за ед.</p>
                            </div>
                        </div>
                        <div class="right-block">
                            <p class="product-price"> {{ product.totalPrice }}₽</p>
                            <button class="del-btn" @click="deleteProductFromCart(product)">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div class="filtered" v-if="filtered.length == 0">По Вашему запросу ничего не найдено</div>
            <div class="product-item" v-for="product of filtered" :key="product.id_product">
                        <img :src="imgCatalog" alt="Some img">
                        <div class="desc">
                            <h3>{{product.product_name}}</h3>
                            <p>{{product.price}} ₽</p>
                            <button class="buy-btn" @click="addProduct(product)">Купить</button>
                        </div>
                </div>
            </div>
            
        </main>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="js/main2.js"></script>
</body>
</html>
